<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h2>Edit your chats</h2>
    <p>User Id: <%=chat._id%></p>
    <p>This chat was sent from: <b><u><%= chat.from %></u></b> to <b><u><%= chat.to %></u></b></p>
    <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
    <textarea name="message" rows="5" cols="50"><%=chat.message%></textarea><br><br>
    <button>Edited</button>
    </form>
</body>
</html>