<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>All Chats</h2>
    <form action="http://localhost:8080/chats/new" method="get">
        <input type="submit" value="New Chat">
    </form>
    <br><br>
    <% for(let chat of chats) {%>
        <div class="chat">
        <p>From: <%= chat.from %></p>
        <div class="msg">
            <p> <%= chat.message %>
                <form action="/chats/<%= chat._id %>/edit" method="get">
                   <button>Edit</button>
                </form>
            </p>
        </div>
        
        <p>Recived By <%= chat.to %></p>
        <p>Date: <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
        <p>Time: <%= chat.created_at.toString().split(" ")[4] %></p>
        <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
            <button class="delete_chat">Delete Chat</button>
        </form>
        </div>
        <br><br>
        <hr>
    <% } %>
    <script src="index.js"></script>
</body>
</html>